@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    .markdown-body > * {
        margin: revert !important;
    }

    .markdown-body > a, .markdown-body > * > a {
        @apply text-blue-600 !important;
        @apply hover:text-blue-800 !important;
        @apply dark:text-blue-400 !important;
        @apply dark:hover:text-blue-300 !important;
    }

    .markdown-body > ul, .markdown-body > * > ul {
        list-style: revert !important;
        padding-left: revert !important;
    }

    .markdown-body > h1, h2, h3, h4, h5, h6 {
        font-size: revert !important;
        font-weight: revert !important;
    }
}
